.footer-social {
  display: flex;

  a {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid $white;
    border-radius: 100%;
    background-position: (50%, 50%);
    background-repeat: no-repeat;
    transition: all 0.2s ease-in;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      background-color: rgba($white, 0.2);
    }
  }

  @media (max-width: 900px) {
    justify-content: center;
  }
}