@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/roboto-light.eot');
  src: url('../fonts/Roboto/roboto-light.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-light.woff') format('woff'),
  url('../fonts/Roboto/roboto-light.ttf') format('truetype'),
  url('../fonts/Roboto/roboto-light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/roboto-thin.eot');
  src: url('../fonts/Roboto/roboto-thin.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-thin.woff') format('woff'),
  url('../fonts/Roboto/roboto-thin.ttf') format('truetype'),
  url('../fonts/Roboto/roboto-thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/roboto-black.eot');
  src: url('../fonts/Roboto/roboto-black.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-black.woff') format('woff'),
  url('../fonts/Roboto/roboto-black.ttf') format('truetype'),
  url('../fonts/Roboto/roboto-black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/Playfairdisplay/playfairdisplay-black.eot');
  src: url('../fonts/Playfairdisplay/playfairdisplay-black.woff2') format('woff2'),
  url('../fonts/Playfairdisplay/playfairdisplay-black.woff') format('woff'),
  url('../fonts/Playfairdisplay/playfairdisplay-black.ttf') format('truetype'),
  url('../fonts/Playfairdisplay/playfairdisplay-black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/Playfairdisplay/playfairdisplay-bold.eot');
  src: url('../fonts/Playfairdisplay/playfairdisplay-bold.woff2') format('woff2'),
  url('../fonts/Playfairdisplay/playfairdisplay-bold.woff') format('woff'),
  url('../fonts/Playfairdisplay/playfairdisplay-bold.ttf') format('truetype'),
  url('../fonts/Playfairdisplay/playfairdisplay-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/Playfairdisplay/playfairdisplay-regular.eot');
  src: url('../fonts/Playfairdisplay/playfairdisplay-regular.woff2') format('woff2'),
  url('../fonts/Playfairdisplay/playfairdisplay-regular.woff') format('woff'),
  url('../fonts/Playfairdisplay/playfairdisplay-regular.ttf') format('truetype'),
  url('../fonts/Playfairdisplay/playfairdisplay-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HammersmithOne';
  src: url('../fonts/Hammersmithone/hammersmithone-regular.eot');
  src: url('../fonts/Hammersmithone/hammersmithone-regular.woff2') format('woff2'),
  url('../fonts/Hammersmithone/hammersmithone-regular.woff') format('woff'),
  url('../fonts/Hammersmithone/hammersmithone-regular.ttf') format('truetype'),
  url('../fonts/Hammersmithone/hammersmithone-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}