//$varibles color and sizes


$white: #ffffff;
$green: #00e0d0;
$grey: #bab9bc;

//
//$dark-bg: #2a3b42;

//fonts

$roboto: 'Roboto', sans-serif;
$playfair: 'PlayfairDisplay', sans-serif;
$hammersmith: 'HammersmithOne', sans-serif;
